body {
  color: #2f5572;
  padding: 20px;
  margin: 5px;
  -webkit-columns: 300px 2;
          columns: 300px 2;
}

.box a {
    display: block;
    padding: 10px;
  }

.box p {
    color: #2f5572;
  }
